<span>post shift </span>
<hr>
where: <input type="text" name="place" id="place" placeholder="Pyrmont">
<br><br>
category: <input type="text" name="category" id="category" placeholder="Cleaner">
<br><br>
how much: <input type="text" name="value" id="value" placeholder="20$/hs">
<br><br>
when: <input type="text" name="date" id="date" placeholder="Saturday">
<br><br>
<button id="send">Send Shift</button>

<script type="text/javascript">

	var shift = new Object()

	$(document).ready(function () {

		// RECEIVED MESSAGE
		// App.shift.received = function(data){
		// 	alert(data.message)
		// }

		$("#send").click(function(){
			

			shift.place = $("#place").val()
			shift.category = $("#category").val()
			shift.value = $("#value").val()
			shift.date = $("#date").val()

			if (validateFields()){
				alert("All fields are mandatory")
			} else {
				// SEND MESSAGE
				App.shift.send_shift(shift)
			}


			
		})
	})

	function validateFields(){
		
		
		return shift.place == "" || shift.category == "" || shift.value == "" || shift.date == "" 

	}

</script>

